<li>
	<span class="caption"><%= wrap(topic.caption) %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(topic.created_at) %> ago.
	</span>
	</br>
	<ul class= "pull-right">HI</ul>
	<% if(topic.posts.size>0) %>
		<span class="post_value"><%= wrap(topic.posts.last.content) %></span>
	<% end %>
</li>