<%= form_for(@new_topic) do |f| %>
  <div class="row">
  	<div class="span1">
  		<b>Caption</b>
  	</div>
    <%= f.text_field :caption, placeholder: "Thread caption..", class:"span5" %>
    <%= f.submit "Post", class: "btn pull-right span2" %>
  </div>
  <div class="field">
    <%= f.hidden_field :board_id, :value => @board.id  %>
  </div>
<% end %>