<% provide(:title, @board.long_name + " - SimpleCh") %>
<%= render 'board_header' %>
	<%= render 'new_topic_form' %>

<div>
    <ol class="threads">
      <%= render @topics %>
    </ol>
    <div class="thread-pagination"><%= will_paginate @topics %></div>
</div>



