<% provide(:title, @board.long_name + " - SimpleCh") %>
<h1 class="pan10">/<%= @board.tag %>/ - <%= @board.long_name %></h1>
<h3 class="form_show_link" style="text-align: center;">New Thread</h3>
<div class="container">
	<div id="new_thread_bar" class="span8 offset2">
	    <%= render 'new_topic_form' %>
	</div>
</div>

<div>
    <% if @board.topics.any? %>
      <ol class="threads">
        <%= render @topics %>
      </ol>
    <% end %>
</div>



