<% provide(:title, @board.long_name + " - SimpleCh") %>
<h1>/<%= @board.tag %>/ - <%= @board.long_name %></h1>

<div class="span8">
    <% if @board.topics.any? %>
      <ol class="threads">
        <%= render @topics %>
      </ol>
    <% end %>
</div>

